NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

RESEND_API_KEY=your_resend_api_key_here
ADMIN_EMAIL=hello@digiblygroup.com.au

NEXT_PUBLIC_SITE_URL=http://localhost:3000
